In [37]:
import numpy as np
import pandas as pd
from math import sqrt
from tqdm import tqdm
import matplotlib.pyplot as plt

from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [38]:
ratings = pd.read_csv('./data/ratings_small.csv')
ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [39]:
train_df, test_df = train_test_split(ratings, test_size=0.2, random_state=42)
train_df.shape, test_df.shape

((80003, 4), (20001, 4))

In [40]:
train_df

       userId  movieId  rating   timestamp
37865     273     5816     4.5  1466946328
46342     339     2028     4.5  1446663181
64614     461     3895     0.5  1093224965
41974     300     3578     4.5  1086010878
50236     369      292     3.0   847465462
...       ...      ...     ...         ...
6265       33     3911     5.0  1032769506
54886     394      377     3.0  1298378869
76820     532     1347     3.5  1076971646
860        12     3408     4.0   968045379
15795     102     2455     3.0   957980146

[80003 rows x 4 columns]

In [41]:
sparse_matrix = train_df.groupby('movieId').apply(lambda x: pd.Series(x['rating'].values, index=x['userId'])).unstack()
sparse_matrix

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
movieId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,4.0,NaN,...,NaN,4.0,3.5,NaN,NaN,NaN,NaN,NaN,NaN,5.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
sparse_matrix_movie = sparse_matrix.apply(lambda x: x.fillna(x.mean()), axis=1)
sparse_matrix_user = sparse_matrix.apply(lambda x: x.fillna(x.mean()), axis=0)

In [7]:
sparse_matrix_movie.head()

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
movieId,,,,,,,,,,,,,,,,,,,,,
1,3.851485,3.851485,3.851485,3.851485,3.851485,3.851485,3.000000,3.851485,4.000000,3.851485,...,3.851485,4.000000,3.500000,3.851485,3.851485,3.851485,3.851485,3.851485,3.851485,5.000000
2,3.443820,3.443820,3.443820,3.443820,3.443820,3.443820,3.443820,3.443820,3.443820,3.443820,...,5.000000,3.443820,3.443820,3.000000,3.443820,3.443820,3.443820,3.443820,3.443820,3.443820
3,3.187500,3.187500,3.187500,3.187500,3.187500,3.187500,3.187500,3.187500,3.187500,3.187500,...,3.187500,3.187500,3.187500,3.000000,3.187500,3.187500,3.187500,3.187500,3.187500,3.187500
4,2.454545,2.454545,2.454545,2.454545,2.454545,2.454545,2.454545,2.454545,2.454545,2.454545,...,2.454545,2.454545,2.454545,2.454545,2.454545,2.454545,2.454545,2.454545,2.454545,2.454545
5,3.347826,3.347826,3.347826,3.347826,3.347826,3.347826,3.347826,3.347826,3.347826,3.347826,...,3.347826,3.347826,3.347826,3.000000,3.347826,3.347826,3.347826,3.347826,3.347826,3.347826

In [8]:
sparse_matrix_user.head()

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
movieId,,,,,,,,,,,,,,,,,,,,,
1,2.5,3.514706,3.552632,4.317647,3.89375,3.225806,3.000000,3.877778,4.000,3.694444,...,3.416667,4.000000,3.50000,3.289617,2.941176,3.653846,3.866667,3.233333,3.695652,5.000000
2,2.5,3.514706,3.552632,4.317647,3.89375,3.225806,3.478261,3.877778,3.725,3.694444,...,5.000000,3.804348,3.80649,3.000000,2.941176,3.653846,3.866667,3.233333,3.695652,3.919355
3,2.5,3.514706,3.552632,4.317647,3.89375,3.225806,3.478261,3.877778,3.725,3.694444,...,3.416667,3.804348,3.80649,3.000000,2.941176,3.653846,3.866667,3.233333,3.695652,3.919355
4,2.5,3.514706,3.552632,4.317647,3.89375,3.225806,3.478261,3.877778,3.725,3.694444,...,3.416667,3.804348,3.80649,3.289617,2.941176,3.653846,3.866667,3.233333,3.695652,3.919355
5,2.5,3.514706,3.552632,4.317647,3.89375,3.225806,3.478261,3.877778,3.725,3.694444,...,3.416667,3.804348,3.80649,3.000000,2.941176,3.653846,3.866667,3.233333,3.695652,3.919355

In [43]:
def get_svd(s_matrix, k=300):
    u, s, vh = np.linalg.svd(s_matrix.transpose())
    S = s[:k] * np.identity(k, float)
    T = u[:,:k]
    Dt = vh[:k, :]
    
    item_factors = np.transpose(np.matmul(S, Dt))
    user_factors = np.transpose(T)
    
    return item_factors, user_factors

In [44]:
item_factors, user_factors = get_svd(sparse_matrix_movie)
pred_result_df = pd.DataFrame(np.matmul(item_factors, user_factors),
                              columns=sparse_matrix_movie.columns.values,
                              index=sparse_matrix_movie.index.values)
movie_pred_result_df = pred_result_df.transpose()

In [45]:
item_factors[0]

array([-9.97778186e+01, -3.60857424e+00, -2.38322701e+00, -9.04368632e-01,
       -1.50765037e+00,  1.19823516e+00, -2.12104783e+00,  1.35826051e-01,
        4.73476715e-01, -1.61377201e+00, -7.98195487e-01,  1.05735170e+00,
       -8.07940076e-01, -2.69756866e-01,  1.95731106e+00, -1.71554095e+00,
        1.47708439e+00, -1.55527088e-01,  1.86630425e+00, -8.60759529e-01,
        4.72967698e-01, -2.94304475e-01, -1.24468573e+00,  1.33137902e+00,
       -7.70183216e-01,  7.46700747e-02,  8.73900193e-01, -4.09929755e-01,
       -7.57898692e-01,  1.09278610e+00, -1.33540519e-02,  1.05103734e+00,
        1.02555643e+00,  1.54967784e+00, -4.22964644e-01,  5.05913016e-02,
        2.94581493e+00, -7.16436333e-01,  6.24077897e-01, -3.80623906e+00,
       -9.49452446e-01, -1.77129455e-02,  3.51039012e-01, -2.27820035e+00,
       -8.11167045e-01,  1.49660465e+00, -4.80806871e-01,  2.06255297e+00,
        8.46386446e-01, -1.51407025e+00, -7.29893035e-01,  1.17591107e+00,
       -3.20103451e-01,  1.20951635e+00, -3.17039856e-01,  4.18694543e-02,
        7.42044414e-01, -9.70391573e-01,  2.46826433e+00,  1.19331436e+00,
       -1.48021842e+00, -7.04434589e-01,  9.70703653e-01, -5.42728655e-01,
        9.13151028e-01,  8.83666554e-01,  3.63903584e-01, -2.64176376e-01,
       -2.99358415e-01,  3.19005345e-02,  8.86134253e-01, -3.58072908e-02,
       -3.03426598e-01,  2.65336134e+00, -1.73671518e+00, -3.62583059e-01,
       -7.54843968e-01, -1.25646915e-02, -9.81962091e-01, -4.66599212e-02,
       -2.39487803e-01, -7.41022388e-01, -7.16879404e-01,  2.43932327e-01,
        3.39921428e-01, -6.15227441e-01,  7.81504062e-01, -5.75910320e-02,
       -1.99574617e-01, -7.91761896e-01,  4.01280928e-01, -5.51239650e-01,
       -2.91329065e-01,  2.99894176e-01, -1.19151859e+00,  5.14322253e-01,
       -1.07579023e+00,  8.41844616e-01, -1.04685544e-02, -6.28070436e-03,
        2.73079090e-01,  3.05155622e-01, -5.92619516e-01,  8.03623508e-02,
        1.12723437e+00,  2.62418107e-01, -4.91300014e-01,  6.56503373e-01,
       -7.83315565e-01, -4.93185607e-01,  7.33496248e-02, -4.79347494e-01,
       -1.87877276e-01, -4.10664955e-01, -1.34761353e+00,  2.56091794e-01,
       -1.00520464e+00, -8.35181739e-02,  5.01958058e-01,  1.90288248e-02,
       -2.19117824e-01,  4.10490487e-01,  2.13209598e-01,  1.04069106e+00,
       -2.31503644e-01,  3.80649621e-01, -3.63641735e-01,  7.10678308e-01,
       -1.29747558e+00,  3.48824102e-01, -9.70192468e-01, -8.55080352e-01,
       -4.37376641e-02,  5.91472102e-01, -5.72672143e-01,  1.69953305e-01,
        4.62614947e-01,  2.44523775e-01,  1.24350459e+00,  1.67005712e-02,
       -4.12798728e-01,  1.67248492e-01, -1.37962650e-02, -6.87002340e-01,
        2.99940740e-01, -2.53331509e-01, -6.06702665e-02, -2.74355541e-01,
        6.82932797e-01, -4.63929008e-01,  7.29497917e-01,  1.94299816e-01,
       -1.61740897e-01, -9.90817695e-01,  3.16455048e-01,  3.35589080e-01,
       -3.98124284e-01,  5.12474036e-01, -8.97753465e-02, -4.76236439e-01,
        3.86839518e-02,  7.94032386e-01, -3.87382635e-01,  4.22354441e-01,
        1.71241796e-01,  3.93878972e-01,  4.75430961e-01,  1.24284772e-01,
       -9.52715215e-01, -6.87257613e-01,  1.35085664e-01,  4.80282674e-01,
       -5.81416536e-01,  1.70293297e-01, -3.63100412e-01,  7.43895206e-01,
       -5.61386016e-02,  4.26630897e-01,  4.54023906e-01, -6.36621224e-01,
        1.52341703e-02,  2.44220479e-01,  5.72016272e-01, -1.16610276e-01,
       -2.60256734e-01, -5.89049917e-01, -6.34721124e-01,  1.29318916e-02,
        3.83969209e-01, -2.72361641e-02, -3.80622659e-01, -1.17301889e-01,
       -9.47286632e-02, -6.69300732e-01, -6.64083501e-01, -2.26791947e-01,
       -2.47110241e-01,  9.09372025e-01, -2.29779821e-01,  2.70090740e-01,
        3.60902884e-02,  5.47607602e-01,  3.11034675e-01,  6.11442505e-01,
       -2.93018244e-01, -1.59263080e-01, -7.12830595e-01,  4.62616306e-02,
        8.85776127e-02, -2.30878826e-01, -2.85522773e-01,  2.90422231e-01,
       -1.19881534e-01, -4.76458640e-01, -1.66341890e-01, -1.96419147e-02,
       -2.41588777e-01,  6.02250143e-01,  5.76069479e-02,  1.06965240e-01,
        2.64489979e-01,  1.67763132e-01,  3.61026160e-02,  2.75543851e-01,
        3.45964095e-01, -6.26977775e-02,  3.53478762e-01, -2.77051502e-01,
        3.56892690e-01, -8.67777000e-02, -3.78205600e-03,  2.96764482e-02,
       -8.74158680e-02,  6.81394670e-01,  2.52851422e-01,  2.14958607e-01,
        2.76661709e-01, -1.82770043e-01,  4.20621964e-01,  3.03415661e-01,
       -3.20198466e-01, -4.99934094e-01, -4.51348891e-02,  1.06676709e-01,
        6.30918738e-02, -4.65686996e-01, -2.36955110e-01,  1.99767197e-01,
        1.09940111e-01,  2.13466426e-01, -1.45179561e-01,  4.06507405e-01,
        3.44783487e-01,  2.17037622e-01, -4.53254749e-02,  5.16162089e-01,
       -3.50557182e-01, -3.46813046e-02, -1.60216298e-01, -4.62916634e-01,
        2.40395110e-01,  1.21794013e-01,  2.33775328e-01, -1.60068986e-01,
        7.44551729e-02,  3.24402075e-01, -4.36456954e-01,  1.24848398e-02,
       -2.56410558e-01,  2.26338356e-01, -9.17002880e-02, -6.96244082e-02,
        1.72112137e-01, -5.00867759e-02,  3.58248728e-02,  1.71130594e-01,
        4.18773473e-01, -5.84298692e-02, -8.51458831e-03,  2.79722747e-01,
       -4.04497862e-02,  2.06204603e-01, -1.72711178e-01, -6.32459119e-02,
       -5.48481403e-02,  1.32298139e-01,  1.60151472e-01, -3.58674023e-01,
       -6.45156746e-02,  1.43892917e-01,  2.90041304e-02, -2.15020989e-01,
        7.98557948e-02, -2.07672973e-01,  4.10788117e-02,  1.23220088e-01,
        1.69938728e-01, -2.30937675e-01, -2.68785919e-01,  2.70250544e-01])

In [46]:
user_factors[0]

array([-0.03857693, -0.03860221, -0.03859386, -0.0387798 , -0.03863592,
       -0.03858594, -0.03858764, -0.03861301, -0.03860336, -0.03861145,
       -0.03862167, -0.03856265, -0.03859858, -0.03859913, -0.03725003,
       -0.03861608, -0.03861078, -0.03859405, -0.03855235, -0.03852936,
       -0.03857543, -0.03855963, -0.03854117, -0.03860812, -0.03859506,
       -0.03855306, -0.03860191, -0.03862327, -0.03860068, -0.03891138,
       -0.03863062, -0.03862162, -0.03859362, -0.03861674, -0.03857401,
       -0.038609  , -0.03862057, -0.03862669, -0.03862686, -0.03863203,
       -0.03869556, -0.03862042, -0.03855087, -0.03859953, -0.0386054 ,
       -0.03864519, -0.03862419, -0.03857701, -0.03861104, -0.03859474,
       -0.03862804, -0.03862218, -0.03857695, -0.03860113, -0.03861436,
       -0.03854777, -0.0387013 , -0.03861506, -0.03854818, -0.03863193,
       -0.03856522, -0.03861838, -0.03861739, -0.03861602, -0.03860416,
       -0.03862423, -0.03863218, -0.03858916, -0.03865833, -0.03867117,
       -0.03861247, -0.03848775, -0.03864096, -0.03863324, -0.03853945,
       -0.03860632, -0.03852187, -0.03878442, -0.03854469, -0.0386107 ,
       -0.03859275, -0.03861299, -0.03863737, -0.03860511, -0.03860228,
       -0.03859356, -0.0385975 , -0.0385104 , -0.03866319, -0.0386149 ,
       -0.03872437, -0.03858311, -0.03861755, -0.03853546, -0.03879338,
       -0.03861055, -0.03845924, -0.0386627 , -0.03855298, -0.03859863,
       -0.03861124, -0.03878111, -0.03860798, -0.03863118, -0.03850421,
       -0.03862213, -0.03859065, -0.03860217, -0.03861652, -0.03870536,
       -0.03860124, -0.03861663, -0.03864233, -0.03862097, -0.03862345,
       -0.03860595, -0.03861468, -0.03866544, -0.03858922, -0.03858916,
       -0.03864449, -0.03856557, -0.03862111, -0.03859782, -0.03867149,
       -0.0386125 , -0.0386184 , -0.03878752, -0.03860539, -0.03844335,
       -0.03862003, -0.03864379, -0.03835736, -0.03872187, -0.03859477,
       -0.03860839, -0.03860852, -0.03852093, -0.03860571, -0.03859382,
       -0.03859777, -0.03855708, -0.03859873, -0.03860245, -0.03864283,
       -0.03859924, -0.03862538, -0.03865251, -0.03853537, -0.03851142,
       -0.03863079, -0.03852281, -0.03863877, -0.03861698, -0.03859347,
       -0.03863279, -0.03854747, -0.03860133, -0.03856532, -0.03863592,
       -0.03861477, -0.03860293, -0.03857352, -0.03859527, -0.03838601,
       -0.03861264, -0.03861482, -0.03858535, -0.03866765, -0.03856511,
       -0.03862924, -0.03860146, -0.03862634, -0.03859238, -0.03862065,
       -0.03846625, -0.03875202, -0.0385532 , -0.0386131 , -0.03860107,
       -0.03862412, -0.03866433, -0.03860921, -0.03860482, -0.03860525,
       -0.03861084, -0.03864597, -0.03862261, -0.03854185, -0.03863233,
       -0.03858496, -0.03861036, -0.03863525, -0.03860737, -0.03828784,
       -0.03863792, -0.03864268, -0.03858763, -0.03865139, -0.03855845,
       -0.03866775, -0.03862923, -0.03861064, -0.03859487, -0.03855932,
       -0.038592  , -0.03853468, -0.03862496, -0.03859022, -0.03858113,
       -0.03864244, -0.03830584, -0.03814376, -0.03868493, -0.03859871,
       -0.03865747, -0.03867415, -0.03860367, -0.03861563, -0.03859265,
       -0.03859054, -0.0386335 , -0.03861957, -0.03865596, -0.0386195 ,
       -0.03859721, -0.03862198, -0.03863911, -0.03861131, -0.03867264,
       -0.03860475, -0.03888294, -0.03859125, -0.03861013, -0.03869956,
       -0.03860788, -0.0385792 , -0.03859857, -0.03873197, -0.03863416,
       -0.03857371, -0.03894481, -0.03857937, -0.03861082, -0.03863647,
       -0.03861007, -0.03869484, -0.03867036, -0.03860701, -0.0387088 ,
       -0.0386912 , -0.0386144 , -0.03860693, -0.03859481, -0.03864748,
       -0.03859038, -0.03857622, -0.03862131, -0.03859463, -0.03861602,
       -0.03859773, -0.03807834, -0.03855797, -0.03862609, -0.03861265,
       -0.03860702, -0.03861987, -0.03861111, -0.03860509, -0.0386443 ,
       -0.03860294, -0.0386102 , -0.03864688, -0.03859106, -0.03874747,
       -0.03859486, -0.03862998, -0.03857265, -0.03859073, -0.0386209 ,
       -0.03860529, -0.03858334, -0.03858906, -0.03860173, -0.03857851,
       -0.03859338, -0.03885238, -0.03863069, -0.03860666, -0.03865141,
       -0.03864732, -0.03871978, -0.03858888, -0.03875035, -0.03869786,
       -0.03861301, -0.03858394, -0.03866622, -0.0387518 , -0.03862393,
       -0.03860406, -0.03860324, -0.03857831, -0.03860884, -0.038575  ,
       -0.03856674, -0.03863769, -0.03861675, -0.03866389, -0.03859465,
       -0.03811127, -0.03850451, -0.03864215, -0.03861905, -0.03857838,
       -0.03860407, -0.03860392, -0.03859564, -0.03859962, -0.03860077,
       -0.03860104, -0.03860255, -0.03860874, -0.03858456, -0.03858106,
       -0.03859663, -0.03864141, -0.03853723, -0.038612  , -0.03856379,
       -0.03860718, -0.03859117, -0.03864682, -0.03860266, -0.03859874,
       -0.03858908, -0.03859451, -0.03859677, -0.03862632, -0.03861184,
       -0.03859771, -0.03868129, -0.03861846, -0.03862006, -0.03861678,
       -0.03857226, -0.03860284, -0.03859687, -0.03860939, -0.03867167,
       -0.03862567, -0.0385969 , -0.03825468, -0.03862255, -0.03861009,
       -0.03858939, -0.03862756, -0.03850983, -0.03859867, -0.03860065,
       -0.03861093, -0.03861257, -0.03864311, -0.03859308, -0.03863362,
       -0.03860575, -0.03859053, -0.03860392, -0.03861267, -0.03864988,
       -0.03862241, -0.03860401, -0.03859555, -0.03860839, -0.03860266,
       -0.03860825, -0.03861001, -0.038523  , -0.03860004, -0.03861841,
       -0.03859769, -0.03843961, -0.03858678, -0.03859234, -0.03860513,
       -0.03854777, -0.03872782, -0.03870335, -0.03861955, -0.03858592,
       -0.03860793, -0.03859023, -0.03858064, -0.0385078 , -0.0385965 ,
       -0.03860181, -0.03861149, -0.03863175, -0.03859303, -0.03861147,
       -0.03867532, -0.0386472 , -0.03860956, -0.03861417, -0.03864167,
       -0.03861589, -0.03875308, -0.03861325, -0.03862372, -0.03861173,
       -0.0385998 , -0.03855924, -0.03861322, -0.03856348, -0.03860753,
       -0.03859492, -0.03861669, -0.03863102, -0.03860483, -0.03860827,
       -0.03857349, -0.0386335 , -0.03856157, -0.03859082, -0.03856742,
       -0.03857161, -0.03864898, -0.03861833, -0.03856596, -0.03869539,
       -0.03871532, -0.03864628, -0.03862562, -0.03856599, -0.03860963,
       -0.03861246, -0.03860515, -0.03861222, -0.0385091 , -0.03861267,
       -0.03859533, -0.03875984, -0.03864903, -0.03860685, -0.03860547,
       -0.03862902, -0.03856498, -0.03862705, -0.03862136, -0.03863796,
       -0.03860039, -0.03822886, -0.03863982, -0.03861597, -0.03860739,
       -0.03861833, -0.03797686, -0.03860311, -0.03861459, -0.03862232,
       -0.03819456, -0.03859628, -0.0385518 , -0.03863629, -0.0386244 ,
       -0.03865301, -0.03861857, -0.03773705, -0.03860513, -0.03857981,
       -0.0386417 , -0.03869395, -0.03866756, -0.03861056, -0.03835051,
       -0.03859152, -0.03860359, -0.03864384, -0.0386412 , -0.03877568,
       -0.03875056, -0.03861088, -0.03858259, -0.03861701, -0.03860259,
       -0.03859436, -0.03866142, -0.03861889, -0.03860941, -0.03860564,
       -0.03859818, -0.03859482, -0.03860015, -0.03861703, -0.03861944,
       -0.0386727 , -0.03861075, -0.03859232, -0.03861644, -0.03844111,
       -0.03866509, -0.03863564, -0.03859437, -0.03860025, -0.03835666,
       -0.03860375, -0.03860269, -0.0386215 , -0.03841718, -0.03850969,
       -0.03862752, -0.03862187, -0.03860828, -0.03859735, -0.03862868,
       -0.03862802, -0.03864726, -0.03878042, -0.03868695, -0.03857071,
       -0.03861963, -0.03853177, -0.03865368, -0.03860818, -0.03863897,
       -0.03861536, -0.03852601, -0.03856859, -0.03843674, -0.03864189,
       -0.0385135 , -0.03860984, -0.03857113, -0.03870957, -0.03857873,
       -0.03866717, -0.03869098, -0.03860239, -0.03860425, -0.03860863,
       -0.03859411, -0.03861167, -0.03866174, -0.03878754, -0.0386231 ,
       -0.03865305, -0.03823842, -0.03857836, -0.03859441, -0.03861652,
       -0.03861189, -0.03857212, -0.03866436, -0.03859683, -0.03856583,
       -0.03862078, -0.03857812, -0.03875083, -0.03870149, -0.03865454,
       -0.03863236, -0.03871058, -0.03863092, -0.03906797, -0.03859672,
       -0.03862721, -0.03861094, -0.03862113, -0.03861648, -0.03862047,
       -0.03862781, -0.0386199 , -0.03859691, -0.03862208, -0.03851751,
       -0.0386023 , -0.03883913, -0.03856686, -0.03856155, -0.03836257,
       -0.03857387, -0.03860705, -0.038606  , -0.03864629, -0.03873465,
       -0.03858018, -0.03868618, -0.03859971, -0.03861001, -0.03861342,
       -0.03859322, -0.03864655, -0.03864628, -0.03862108, -0.03864494,
       -0.03864005, -0.03867996, -0.03863321, -0.0386981 , -0.03860949,
       -0.03860865, -0.0386033 , -0.03866264, -0.03859055, -0.03845776,
       -0.03862566, -0.0386644 , -0.03867878, -0.03847988, -0.03859033,
       -0.03861325, -0.03859773, -0.0385984 , -0.03860347, -0.03862615,
       -0.03860974, -0.03858359, -0.03861617, -0.03860887, -0.03849982,
       -0.03864353, -0.03862534, -0.0386517 , -0.03840071, -0.03863592,
       -0.03863721, -0.03851414, -0.03853671, -0.03859852, -0.03860537,
       -0.03861392, -0.03862695, -0.03857864, -0.03859178, -0.03858756,
       -0.03860341, -0.03862014, -0.03860121, -0.03859895, -0.03861604,
       -0.03867943, -0.03861138, -0.03860791, -0.03861819, -0.03861722,
       -0.03873467, -0.0386786 , -0.03854656, -0.03860849, -0.03860907,
       -0.03860782, -0.03872072, -0.03863687, -0.03900662, -0.03865186,
       -0.03875359, -0.03859864, -0.03864167, -0.03856535, -0.03863641,
       -0.03861227, -0.03860263, -0.03861103, -0.03874369, -0.03860829,
       -0.03857992, -0.03860217, -0.03860567, -0.03860431, -0.0386011 ,
       -0.03861624])

In [47]:
pred_result_df

,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
1,3.788388,3.767808,3.776663,3.865839,3.828209,3.803000,3.114177,3.823025,3.945936,3.840780,...,3.817372,3.953483,3.421847,3.827313,3.761351,3.883660,3.873830,3.880161,3.820446,5.026974
2,3.255509,3.425875,3.525161,3.389180,3.540596,3.253587,3.388431,3.504871,3.412057,3.463966,...,4.367361,3.438237,3.425260,3.002818,3.502093,3.462110,3.379974,3.398258,3.444519,3.591383
3,3.210529,3.261263,3.259922,3.162579,3.281898,3.180689,3.222245,3.190341,3.060060,3.192234,...,3.221685,3.196402,3.189868,2.984983,3.200677,3.203058,3.204729,3.182508,3.177036,3.246090
4,2.471339,2.463294,2.464101,2.473939,2.470317,2.448745,2.471931,2.457864,2.421379,2.453038,...,2.494429,2.453832,2.463645,2.445318,2.438761,2.448407,2.457455,2.431249,2.420894,2.437669
5,3.382591,3.307403,3.256805,3.311425,3.264043,3.389565,3.311992,3.284511,3.389857,3.395594,...,3.416624,3.346588,3.351123,2.971017,3.272767,3.373862,3.380386,3.378195,3.226933,3.522576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161830,1.000000,0.999950,0.999875,1.000032,0.999974,1.000144,1.000081,0.999920,1.000004,1.000352,...,0.999964,1.000164,0.999985,1.000039,1.000063,1.000111,0.999868,0.999958,0.999871,0.999984
161918,1.500000,1.499925,1.499813,1.500048,1.499961,1.500217,1.500122,1.499880,1.500005,1.500528,...,1.499946,1.500247,1.499977,1.500059,1.500095,1.500167,1.499802,1.499937,1.499806,1.499976
161944,5.000000,4.999751,4.999376,5.000161,4.999870,5.000722,5.000406,4.999599,5.000018,5.001761,...,4.999819,5.000822,4.999923,5.000196,5.000317,5.000557,4.999339,4.999789,4.999354,4.999920
162542,5.000000,4.999751,4.999376,5.000161,4.999870,5.000722,5.000406,4.999599,5.000018,5.001761,...,4.999819,5.000822,4.999923,5.000196,5.000317,5.000557,4.999339,4.999789,4.999354,4.999920
163949,5.000000,4.999751,4.999376,5.000161,4.999870,5.000722,5.000406,4.999599,5.000018,5.001761,...,4.999819,5.000822,4.999923,5.000196,5.000317,5.000557,4.999339,4.999789,4.999354,4.999920

In [48]:
movie_pred_result_df

,1,2,3,4,5,6,7,8,9,10,...,160656,160718,161084,161155,161594,161830,161918,161944,162542,163949
1,3.788388,3.255509,3.210529,2.471339,3.382591,3.956395,3.483888,3.328588,3.072380,3.324786,...,3.500000,4.000000,2.500000,0.500000,3.000000,1.000000,1.500000,5.000000,5.000000,5.000000
2,3.767808,3.425875,3.261263,2.463294,3.307403,3.907488,3.648476,3.336206,3.097623,4.030007,...,3.499826,3.999801,2.499876,0.499975,2.999851,0.999950,1.499925,4.999751,4.999751,4.999751
3,3.776663,3.525161,3.259922,2.464101,3.256805,4.035639,3.487522,3.337107,3.074721,3.545697,...,3.499563,3.999501,2.499688,0.499938,2.999625,0.999875,1.499813,4.999376,4.999376,4.999376
4,3.865839,3.389180,3.162579,2.473939,3.311425,3.887802,3.485964,3.385314,3.064289,3.340674,...,3.500113,4.000129,2.500080,0.500016,3.000097,1.000032,1.500048,5.000161,5.000161,5.000161
5,3.828209,3.540596,3.281898,2.470317,3.264043,3.869228,3.388102,3.300536,3.112431,3.250916,...,3.499909,3.999896,2.499935,0.499987,2.999922,0.999974,1.499961,4.999870,4.999870,4.999870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,3.883660,3.462110,3.203058,2.448407,3.373862,3.929642,3.368835,3.288891,2.984378,3.363669,...,3.500390,4.000446,2.500279,0.500056,3.000334,1.000111,1.500167,5.000557,5.000557,5.000557
668,3.873830,3.379974,3.204729,2.457455,3.380386,3.969988,3.454918,3.316871,3.049228,3.429763,...,3.499537,3.999471,2.499669,0.499934,2.999603,0.999868,1.499802,4.999339,4.999339,4.999339
669,3.880161,3.398258,3.182508,2.431249,3.378195,3.900931,3.479495,3.334253,3.016525,3.420720,...,3.499852,3.999831,2.499894,0.499979,2.999873,0.999958,1.499937,4.999789,4.999789,4.999789
670,3.820446,3.444519,3.177036,2.420894,3.226933,3.942869,3.432726,3.291207,3.117953,3.371568,...,3.499548,3.999483,2.499677,0.499935,2.999613,0.999871,1.499806,4.999354,4.999354,4.999354
671,5.026974,3.591383,3.246090,2.437669,3.522576,3.808586,3.498827,3.374284,3.001100,3.508455,...,3.499944,3.999936,2.499960,0.499992,2.999952,0.999984,1.499976,4.999920,4.999920,4.999920